<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.7.1" targetFramework="net451" />
  <package id="Apache.NMS.ActiveMQ" version="1.7.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net451" />
  <package id="NLog" version="4.5.10" targetFramework="net451" />
  <package id="NLog.Config" version="4.5.10" targetFramework="net451" />
  <package id="NLog.Schema" version="4.5.10" targetFramework="net451" />
</packages>